
@media(max-width:769px) {
.bd-hero-overlay {
    width: 100%;
    height: auto;
    bottom: 0;
    top: auto;
    padding: 30px;
}
.bd-sidebar {
    position: unset;
}
}


@media(min-width:575px) and (max-width:769px){
    section{
        overflow: hidden !important;
    }

    .hero .hero-lines {
    display: none;
}
    .awards-grid {
    grid-template-columns: repeat(2,1fr);
}
.top-content {
    grid-template-columns: 1fr;
        gap: 15px;

}
.bd-hero-grid {
    grid-template-columns: 1fr;
}
.blog-grid {
    grid-template-columns: 1fr;
}
.bd-ctabox .cta-left {
    width: 100%;
    margin-bottom: 30px;
}
.cta-box {
    display: block;
}
.dark-btn {
    font-size: 13px;
}

.comparison-wrapper {
    grid-template-columns: 1fr;
}

.left-content h1 {
    font-size: 50px;
}
.stats {
    width: 70%;
}

button.mb-btn {
    display: block;
    width: 53px;
}
.hero {
    background-size: cover;
    background-position: inherit;
}

 .trusted-wrap .trusted-title::before, .trusted-wrap .trusted-title::after {
    display: none;
}
.migration-grid {
    grid-template-columns: 1fr;
}

.migration-showcase{
        padding:60px 15px;
    }

    .migration-container{
        padding:40px 20px;
        border-radius:24px;
    }

    .section-header h2{
        font-size:30px;
    }

    .section-header p{
        font-size:16px;
    }

    .metric-card h3{
        font-size:42px;
    }

    .compare-card{
        padding:25px;
    }

    .compare-card h3{
        font-size:22px;
    }

    .migration-cta{
        padding:30px 20px;
    }

    .migration-cta h3{
        font-size:28px;
    }

    .cta-btn{
        width:100%;
    }
}


@media(max-width:575px) {

    .right-bg img {
    width: 300px;
}
.right-bg img {
    margin: 0;
}
.hero {
    padding: 30px 0;
}
.trusted-title::before, .trusted-title::after {
    display: none;
}
.migration-grid {
    gap: 10px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

   .hero .hero-lines {
    display: none;
}
.clipboard {
    display: none;
}

.overlap-section {
    margin-top: -30px !important;
}
.upw_main_sec {
    padding: 50px 0;
}
.blog-grid {
    grid-template-columns: 1fr;
    gap: 0;
}
.bd-blog-wrapper {
    overflow: hidden;
}
.bd-ctabox .cta-left {
    width: 100%;
}
.cta-box .cta-right {
    display: block;
    margin-top: 20px;
}
.cta-cont {
    margin-bottom: 20px;
}
.cta-box::before {
    right: -50px;
    width: 100px;
    height: 100px;
}
.blog-cta-left {
    width: 100%;
    padding: 40px 10px;
}
.blog-cta-content {
    display: block;
}
.blog-cta-title {
    font-size: 20px;
    margin: 0 0 25px;
}
.blog-cta-right {
    width: 100%;
    height: 100%;
    padding: 0px 10px 25px;
}
.content-acc .accordion-button {
    font-size: 17px;
    padding: 12px 0;
}
.bd-content {
    padding: 10px;
    margin-top: 20px;
}
.content-section p {
    font-size: 16px;
}
.takeaway-box {
    padding: 18px;
}
.cta-box {
    display: block;
}
h2 {
    font-size: 25px !important;
}
.trusted {
    padding: 0;
    margin: 40px 0px 10px;

}
.migration-container {
    padding: 40px 0;
}
.metrics-grid {
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 25px;
    display: block;
}
.left-content h2 {
    font-size: 30px !important;

}

.section-header p {
    max-width: 100%;
    font-size: 18px;
}
.metric-card {
    padding: 15px;
}
.comparison-wrapper {
    grid-template-columns: 1fr;
    margin-bottom: 30px;
    gap: 10px;
}
.popup-box {
    padding: 10px;
}
.compare-card {
    padding: 20px;
}
.migration-arrow {
    width: 45px;
    height: 45px;
    top: 56%;
    transform: translate(-29px, 13%);
    display: none;
}
.trust-bar span {
    padding: 10px 13px;
    font-size: 13px;
}
.migration-cta {
    padding: 30px 10px;
}
.migration-cta h3 {
    font-size: 25px;
    margin-bottom: 10px;
}
.top-content {
    grid-template-columns: 1fr;
    gap: 0;
    margin-bottom: 20px;
}
.over-lap-txt p {
    font-size: 12px;
}
.nx-preview-grid {
    grid-template-columns: 1fr;
}
.nx-brand-preview {
    grid-template-columns: 1fr;
}
.growth-stats-grid {
    margin-top: 0;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.growth-stats-grid .growth-stat-card:last-child {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    gap: 10px;
}
.cta-card {
    grid-template-columns: 1fr;
}
.site-btn {
    font-size: 15px;
    padding: 9px 22px;
}
.migration-cta .site-btn {
    padding: 12px 20px;
    font-size: 14px;
}
.growth-stats-wrapper {
    padding: 0 10px;
}
.blog-content h3 {
    font-size: 20px;
}
.cleaning_content h3 {
    font-size: 20px;
}
.growth-stat-card:last-child {
    border-right: 1px solid #e5e5e530;;
}
.growth-main-heading {
    margin-bottom: 35px;
}
.growth-stat-card {
    text-align: center;
    padding: 25px;
    border: 1px solid #e5e5e530;
    border-radius: 15px;
}
.stat-box .icon {
    width: 38px;
    height: 38px;
    font-size: 16px;
}
.stat-box span {
    font-size: 26px;
}
.award-title {
    font-size: 18px;
}
.stat-box p {
    font-size: 15px;
    padding-left: 8px;
}
.awards-grid {    
    grid-template-columns: 1fr;
    gap: 10px;
}
.award-card {
    gap: 10px;
    padding: 10px;
    min-height: 100%;
}
.award-logo img {
    width: 60px;
}
.year {
    font-size: 10px;
    padding: 6px 10px;
    top: 5px;
}
.bottom-text {
    margin: 18px 0;
    font-size: 12px;
    gap: 6px;
    justify-content: left;
}
.scale-services-head {
    margin-bottom: 35px;
}
.team-icon i {
    font-size: 10px;
}
.team-icon {
    width: 35px;
    height: 35px;
}
.mb {
    display: block;
}
.award-card h3 {
    font-size: 18px;
}
.award-card p {
    font-size: 12px;
}

.left-content h1 {
    font-size: 25px;
    margin-bottom: 15px;
}
.trust-badge {
    padding: 5px 27px;
    margin-bottom: 15px;
    font-size: 11px;
}
.left-content p {
    font-size: 15px;
}
.portfolio-swiper .swiper-wrapper {
    padding-top: 50px;
}
.port-btn {
    top: -3px;
    right: 0px !important;
}
.port-btn .swiper-button-prev {
    left: -40px !important;
}
.upwork_stat_card h3 {
    font-size: 35px;
}
.upwork_stat_card i {
    font-size: 24px;
    width: 45px;
    height: 45px;
}
.up-head {
    padding-top: 0;
}
.portfolio-sec .swiper-button-prev, .portfolio-sec .swiper-button-next {
    width: 35px;
    height: 35px;
}
.upw_para {
    font-size: 18px;
    line-height: 1.5;
}
.counter-box {
    padding: 10px;
}


.counter-icon {
    width: 45px;
    height: 45px;
    font-size: 17px;
    margin: 0 auto 20px;
}
.counter-divider {
    width: 100px;
    height: 2px;
    margin: 22px auto;
}
.counter-text {
    font-size: 11px;
    letter-spacing: 1px;
}
.counter-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.upw_text_wrap h4 {
    font-size: 18px;
}
.upw_icon_wrap img {
    width: 60px;
    height: auto;
}
.upw_icon_wrap {
    height: auto;
}
.ecom-service-section {
    padding: 40px 0;
}
.ecom-description {
    font-size: 18px;
    line-height: 1.5;
}
.ecom-main-heading {
    margin-bottom: 20px;
}
.ecom-footer-link a {
    font-size: 12px;
}
.ecom-divider {
    width: 50px;
}
.right-bg {
    text-align: center;
}


/* ====================blog-details=========== */


.bd-hero-grid {
    grid-template-columns: 1fr;
    gap: 20px;
}

.bd-hero {
    padding: 40px 0;
}
.bd-breadcrumb {
    font-size: 14px;
    color: #09235C;
}
.bd-auther-img div img {
    width: 24px;
    height: 24px;
}
.bd-hero-meta {
    gap: 5px;
    justify-content: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.meta-item {
    padding-right: 5px;
    margin-bottom: 10px;
}
.meta-item span {
    font-size: 13px;
}
.meta-item strong {
    font-size: 12px;
}

}